* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f3f3f3;
    color: #444;
    height: 100vh;
    padding: 2rem;
}

.btn {
    border: none;
    background: none;
    font-size: 2.2rem;
    color: inherit;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: #777;
    outline: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.welcome {
    font-size: 1.9rem;
    font-weight: 500;
}

.logo {
    height: 5.25rem;
}

.login {
    display: flex;
    gap: 1rem;
}

.login-input {
    border: 1px solid #fff;
    border-radius: 1000px;
    background-color: #fff;
    padding: 0.5rem 2rem;
    width: 12rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    transition: all 0.3s;
}

.login-input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.login-input::placeholder {
    color: #bbb;
}

/* MAIN */
.user-interface {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
    max-width: 100rem;
    margin: 4rem auto;

    /* add in the fade in and out */
    opacity: 0;
    transition: all 1s;
}

.balance {
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.balance-label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
}

.balance-date {
    font-size: 1.4rem;
    color: #888;
}

.current-balance {
    font-size: 4.5rem;
    font-weight: 400;
}

.transactions {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
    /* box-shadow: 0, 1rem, 2rem rgba(0, 0, 0, 0.6); */
}

.transaction {
    display: flex;
    align-items: center;
    padding: 2.25rem 4rem;
    border-bottom: 1px solid #eee;
}

.transaction-state {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 100rem;
    margin-right: 2rem;
}

.transaction-state-withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.transaction-state-deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.transaction-date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.transaction-amount {
    font-size: 1.7rem;
    margin-left: auto;
}

.action {
    padding: 3rem 4rem;
    border-radius: 1rem;
    color: #333;
}

.actions-title {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
}

.action-form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}

.loan-form {
    grid-template-columns: 2.5fr 1fr 2.5fr;
}

.loan-label {
    grid-row: 2;
}

.action-inputs {
    width: 100%;
    border: none;
    border-radius: 0.7rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    transition: all 0.3s;
}

.action-inputs:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.action-label {
    font-size: 1.3rem;
    text-align: center;
}

.btn-actions {
    background-color: #fff;
    border-radius: 0.7rem;
    font-size: 1.8rem;
}

.btn-actions:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

.transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.close-account {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.summary {
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-right: 0.8rem;
}

.summary-label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.summary-value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
}

.deposited,
.interests {
    color: #66c873;
}

.withdrawaled {
    color: #f5465d;
}

.btn-sort-transactions {
    margin-left: auto;
    font-size: 1.3rem;
    font-weight: 500;
}

.logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
}

.timer {
    font-weight: 600;
}
